<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div style="direction: rtl;margin-right: 550px;margin-top: 140px;">     
    <form method="post" action="{% url 'account:verify_code' %}">
            {% csrf_token %}
            verify_code:
            <br>
            <input type="text" name="verify_code" />
            <br>
            <input class="btn btn-primary" type="submit" value="Sign Up!" class="form-control" style="margin-top: 20px;"/>
        </form>

</div>
</body>
</html>